@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mr Gr vaan Prinster<br />
    Amstel, 1181<br />
    <abbr title="Phone">P:</abbr>
    061.xxx.yyyy
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:eposta4work@gmail.com">eposta4work@gmail.com</a>
</address>