@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Snuggles</h1>
    <p class="lead">...is a domestic class of type Chixi</p>
    <p><a href="http://cdn.cutestpaw.com/wp-content/uploads/2012/03/l-Can-you-hear-my-snuggles.jpg" class="btn btn-primary btn-lg">Details &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Snuggles is cute</h2>
        <p>There is nothing cutter in this world.</p>
        <p><a class="btn btn-default" href="http://fc06.deviantart.net/fs70/f/2011/047/c/5/cats_and_snuggles_by_polishtamales-d39ohx5.jpg">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Snuggles is funny</h2>
        <p>The only thing funnyer than Snuggles is ICE CREAM :)</p>
        <p><a class="btn btn-default" href="http://womenofhr.com/wp-content/uploads/2011/06/puppy-and-ice-cream.jpg">Details &raquo;</a></p>
    </div>
</div>